.TrackProgress {
    display: flex;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ProgressBar {
    flex: 0 0 80%;
    margin-left: 10px;
    margin-right: 10px;    
    
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    border-color: transparent;
    border-radius: 16px;
    overflow: hidden;
}

.ProgressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 7px;
    width: 7px;
    background-color: rgb(59, 130, 246);
    border-radius: 50%;
    box-shadow: -405px 0 0 402px rgb(59, 130, 246);
}

.ProgressBar::-moz-range-thumb {
    height: 7px;
    width: 7px;
    background-color: rgb(59, 130, 246);
    border-radius: 50%;
    box-shadow: -403px 0 0 400px rgb(59, 130, 246);
}

.TimeCurrent {
    margin-right: 10px;
}