.TrackProgress {
    display: flex;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ProgressBar {
    flex: 0 0 80%;
    margin-left: 10px;
    margin-right: 10px;
}

.TimeCurrent {
    margin-right: 10px;
}