.TreeGraphSvg {
    margin-top: 20px;

    .PlayPauseButton {
        font-size: 12px;
        fill: #ffffff;
        text-anchor: middle;
    }

    .PlaylistTracksCountText {
        font-size: 12px;
        fill: #ffffff;
        text-anchor: middle;
    }

    .PlusButton, .TrackUploadButtonContainer {
        display: none;
        cursor: pointer;
    }

    .PlusButton {
        fill: red;
    }

    .TrackUploadIconContainer{
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: rgb(255, 255, 255);
        }
    }

    .NodeLabel {
        font-size: 12px;
        fill: #ffffff;
        text-anchor: middle;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .SpinnerContainer {
        width: 14px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Spinner {
        animation: spin 2s linear infinite;
        fill: white;
    }

    .Link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
        stroke-width: 2px;
    }
}
