.ContentArea {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-left: 30px;

    .GenreArea {
        display: flex;
        flex-direction: column;

        .GenreRectangle {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:hover {
                background-color: #c5c5c5;
                color: #333;
                cursor: pointer;
            }
        }

        .GenreTreeContainer {
            display: flex;
            flex-direction: column;
            background-color: #c5c5c5;
            color: #333;
        }
    }

    .RightSidebarContainer {
        position: absolute; 
        right: 0;
        width: 600px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.947)
    }
}