#ContentArea {
    display: flex;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 30px;
}

#GenreTreeContainer {
    background-color: #c5c5c5;
    margin: 0;
    padding: 30px;
}