.ContentArea {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-left: 30px;

    .GenreTreeContainer {
        background-color: #c5c5c5;
        margin: 0;
        padding: 30px;
    }

    .RightSidebarContainer {
        position: absolute; 
        right: 0;
        width: 400px;
        height: 100%;
        background-color: rgb(47, 218, 218);
    }
}