.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff9a;
  background-color: #7f7f7f;
}

.button:hover {
    color: #ffffff9a;
    background-color: #313131;
}