.TrackElement {
    display: flex;
    flex-direction: row;
    height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgb(187, 184, 184);

    .TrackPosition {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 60px;
    }

    .TitleArtistContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 300px;

        .Title {
            font-size: 16px;
            font-weight: bold;
            color: rgb(230, 227, 227);
            height: 20px;
        }

        .Artist {
            font-size: 14px;
        }
    }
    
    .AlbumGenreContainer {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 100%;
        margin-left: 10px;
        font-size: 12px;

        .AlbumName {
            margin-bottom: 3px;
        }

        .GenreNameContainer {
            font-weight: bold;
            padding: 1px;
            border: 1px solid rgb(187, 184, 184);
        }
    }

    .Duration {
        display: flex;
        font-size: 14px;
        width: 80px;
        align-items: center;
        justify-content: center;
    }

    .Edit {
        display: flex;
        font-size: 14px;
        width: 30px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
}