.GenreTreeSvg {
    margin-top: 20px;

    .GenreNameContainer, .PlayPauseIconContainer, .PlaylistTracksCountContainer {
        font-size: 12px;
        color: #ffffff;

        div {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100%;
        }
    }

    .PlaylistTracksCountContainer {
        font-size: 12px;
        fill: #ffffff;
        text-anchor: middle;
    }

    .GenreAddIconContainer, .TrackUploadIconContainer {
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            fill: rgb(255, 255, 255);
        }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .SpinnerContainer {
        width: 14px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Spinner {
        animation: spin 2s linear infinite;
        fill: white;
    }

    .Link {
        fill: none;
        stroke: #555;
        stroke-opacity: 0.4;
        stroke-width: 2px;
    }
}
