.trackEdition {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.readOnlyInput {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-top: 5px;
  flex-grow: 1;
  height: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label > span {
  margin-right: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  flex-grow: 1;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}