.TrackListSidebar {

    .PlaylistName {
        padding: 10px;
        text-align: center;
        color: rgb(230, 227, 227);
        font-size: 1.5em;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
}