.TrackListSidebar {

    .Header {
        display: flex;
        flex-direction: row;
        padding: 10px;

        .Name, .Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .Name {
            color: rgb(230, 227, 227);
            font-size: 1.5em;
            font-weight: bold;
            padding-right: 20px;
        }
    
        .Info {
            color: rgb(187, 184, 184);
            font-size: 0.8em;
            padding-top: 4px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
}