#genre-tree {
    background-color: #c5c5c5;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 50px;
}

.tree-graph-svg {
    margin-bottom: 10px;
}

.node {
    background-color: #bababa;
    stroke-width: 1px;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 2px;
}

.play-button {
    font-size: 12px;
    fill: #ffffff;
    text-anchor: middle;
    cursor: pointer;
}

.playlist-tracks-count-text {
    font-size: 12px;
    fill: #ffffff;
    text-anchor: middle;
}

.plus-button {
    fill: red;
    display: none;
    cursor: pointer;
}

.node-label {
    font-size: 12px;
    fill: #ffffff;
    text-anchor: middle;
}
