.GenreView {
display: flex;
flex-direction: column;

.GenreRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        background-color: #c5c5c5;
        color: #333;
        cursor: pointer;
    }
}

.GenreTreeContainer {
    display: flex;
    flex-direction: column;
    background-color: #c5c5c5;
    color: #333;
}
}