.PlayerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .TrackInfo, .Controls1, .Controls2 {
        flex: 1;
        align-items: center;
    }
}

.TrackInfo {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.Controls1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.PlayButton svg {
    transform: translateX(4px);
}

.PauseButton svg {
    transform: translateX(0px);
}

.Controls2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}