.PlayerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.947);
    color: #fffffff6;
    font-size: 13px;
}

.PlayerLeft {
    flex: 1;
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;


    .AlbumCover {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
        overflow: hidden;
        margin-right: 20px;
    }

    .TrackInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

.Controls1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .PlayButtonContainer, .PauseButtonContainer, .NextButtonContainer, .PreviousButtonContainer {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000d1;
            background-color: #f3f1f1;
            margin-bottom: 10px;    
            transition: width 0.2s ease, height 0.2s ease;
        }

        .PlayButtonContainer, .PauseButtonContainer {
            width: 33px;
            height: 33px;
            margin-right: 7px;
            margin-left: 7px;
        }
    
        .PlayButtonContainer:hover, .PauseButtonContainer:hover {
            width: 37px;
            height: 37px;
        }

        .NextButtonContainer, .PreviousButtonContainer {
            width: 25px;
            height: 25px;
    
            svg {
                transform: scale(0.9);
            }
        }

        .NextButtonContainer svg {
            transform: translateX(1px);
        }
        
        .NextButtonContainer:disabled {
            background-color: grey;
            pointer-events: none;
        
            &:hover {
                transform: scale(1.2);
            }
        }
    
        .NextButtonContainer:hover, .PreviousButtonContainer:hover {
            width: 30px;
            height: 30px;
        }
    
        .PlayButtonContainer svg {
            transform: translateX(1px);
        }
    
        .PauseButtonContainer svg {
            transform: translateX(0px);
        }
    }
}

.Controls2 {
    flex: 1;
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .PlaylistIconContainer {
        width: 17px;
        height: 17px;
        margin-right: 5px;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    .VolumeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .VolumeIcon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .VolumeSlider {
            width: 100px;
            margin-right: 10px;
        }
    }
}