.PlayerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .TrackInfo, .Controls1, .Controls2 {
        flex: 1;
        align-items: center;
    }
}

.TrackInfo {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.Controls1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.PlayButton, .PauseButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff9a;
    background-color: #7f7f7f;
}
  
.button:hover {
    color: #ffffff9a;
    background-color: #313131;
}

.PlayButton svg {
    transform: translateX(1px);
}

.PauseButton svg {
    transform: translateX(0px);
}

.Controls2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}