.PlayerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: green;
}

.TrackInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

.Controls{
    display: flex;
    justify-content: center;
    align-self: center;
}

.Seek {
    display: flex;
  }
  
.TimeCurrent {
    margin-right: 10px;
}