.PlayerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.947);
    color: #fffffff6;
    
}

.PlayerLeft {
    flex: 1;
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;


    .AlbumCover {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
        overflow: hidden;
        margin-right: 20px;
    }

    .TrackInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

.Controls1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .PlayButton, .PauseButton {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff9a;
        background-color: #7f7f7f;
    }
    
    .button:hover {
        color: #ffffff9a;
    }

    .PlayButton svg {
        transform: translateX(1px);
    }

    .PauseButton svg {
        transform: translateX(0px);
    }
}

.Controls2 {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}