.TrackElement {
    display: flex;
    flex-direction: row;
    height: 34px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;

    .TitleArtistContainer {
        display: flex;
        flex-direction: column;
        width: 300px;

        .Title {
            font-size: 16px;
            font-weight: bold;
            color: rgb(230, 227, 227);
            height: 20px;
        }

        .Artist {
            font-size: 14px;
            color: rgb(187, 184, 184);
        }
    }
    
    .AlbumGenreContainer {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        margin-left: 10px;
        font-size: 12px;
        color: rgb(187, 184, 184);

        .AlbumName {
            margin-bottom: 3px;
        }

        .GenreName {
            font-weight: bold;
            padding: 1px;
            border: 1px solid rgb(187, 184, 184);
        }
    }
}