name: Ultimate Music Guide CI

on:
  push:
    branches:
      - main
      - dev
      - implement-put-genre-parent
      - improve-env-vars
  pull_request:
    branches: ["main", "dev"]

env:
  SSH_DESTINATION: ${{ secrets.TEST_SERVER_BODZIFY_USERNAME }}@${{ vars.TEST_SERVER_URL }}
  DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
  IMAGE_REPO: ${{ vars.UMG_IMAGE_REPO }}
  IMAGE_TAG: ${{ vars.IMAGE_TAG }}
  ENV_VARIABLES_FILENAME: ${{ vars.ENV_VARIABLES_FILENAME }}

jobs:
  build-and-push-to-dockerhub:
    name: Build / Push to Dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Dockerhub
        run: echo "${{ secrets.DOCKERHUB_ACCESS_TOKEN }}" | docker login -u "${{ env.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.DOCKERHUB_USERNAME }}/${{ vars.UMG_IMAGE_REPO }}:${{ vars.UMG_IMAGE_TAG }}

  set-env-variables-on-server:
    name: Set environment vars on server
    runs-on: ubuntu-latest
    needs: [build-and-push-to-dockerhub]
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.TEST_SERVER_SSH_BODZIFY_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          mkdir -p ~/.ssh &&
          ssh-keyscan -H ${{ vars.TEST_SERVER_URL }} >> ~/.ssh/known_hosts

      # React env variables have to be prefixed with VITE_ in order to be accessible in the app
      - name: Set environment variables on server
        env:
          ENV_FILE: ${{ vars.WEBHOOK_DIR }}${{ vars.WEBHOOK_REDEPLOYMENT_DIR_NAME }}/${{ vars.DOCKER_COMPOSE_DIR_NAME }}/${{ vars.ENV_VARIABLES_FILENAME }}
        run: |
          ssh ${{ env.SSH_DESTINATION }} "
            rm -f ${{ env.ENV_FILE }} &&
            echo 'ENV=TEST' >> $ENV_FILE &&
            echo 'VITE_BODZIFY_API_USERNAME=${{ secrets.BODZIFY_API_USERNAME }}' >> ${{ env.ENV_FILE }} &&
            echo 'VITE_BODZIFY_API_USER_PASSWORD=${{ secrets.BODZIFY_API_USER_PASSWORD }}' >> ${{ env.ENV_FILE }} && 
            echo 'SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}' >> ${{ env.ENV_FILE }} 
          "

  set-partial-docker-compose-on-server:
    name: Set partial docker-compose on server
    runs-on: ubuntu-latest
    needs: [build-and-push-to-dockerhub]
    environment:
      name: TEST
    env:
      DOCKER_COMPOSE_PART_FILENAME: ${{ vars.DOCKER_COMPOSE_PART_FILENAME }}

    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.TEST_SERVER_SSH_BODZIFY_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          mkdir -p ~/.ssh &&
          ssh-keyscan -H ${{ vars.TEST_SERVER_URL }} >> ~/.ssh/known_hosts

      - name: Generate partial docker compose file
        env:
          CONTAINER_NAME: ${{ vars.CONTAINER_NAME }}
          APP_PORT: ${{ secrets.APP_PORT }}
          DOCKER_NETWORK_NAME: ${{ vars.DOCKER_NETWORK_NAME }}
        run: |
          bash ${{ github.workspace }}/scripts/generate_docker_compose_part.sh

      - name: Transfer partial docker-compose on server
        run: |
          scp ${{ github.workspace }}/scripts/${{ env.DOCKER_COMPOSE_PART_FILENAME }} ${{ env.SSH_DESTINATION }}:\
          ${{ vars.DOCKER_COMPOSE_DIR }}${{ vars.DOCKER_COMPOSE_PARTS_DIR_NAME }}/${{ env.DOCKER_COMPOSE_PART_FILENAME }}

  redeploy-webhook-call:
    name: Redeploy webhook call
    needs: [set-env-variables-on-server, set-partial-docker-compose-on-server]
    uses: Bodzify/bodzify-server-management/.github/workflows/call-redeployment-webhook.yml@main
    with:
      env: TEST
    secrets: inherit
