name: Reusable Deploy Workflow

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "Environment to deploy to (TEST or PRODUCTION)"
      docker_tag_suffix:
        required: false
        type: string
        default: ""
        description: "Suffix for Docker image tag (e.g., -prod)"
      node_env:
        required: true
        type: string
        description: "NODE_ENV value (test or production)"
    secrets:
      DOCKERHUB_ACCESS_TOKEN:
        required: true
      TEST_SERVER_DEPLOY_SSH_PRIVATE_KEY:
        required: true
      SERVER_USERNAME:
        required: true
      DOMAIN_NAME:
        required: true
      WEBHOOK_DIR:
        required: true
      WEBHOOK_REDEPLOYMENT_DIR_NAME:
        required: true
      DOCKER_COMPOSE_DIR_NAME:
        required: true
      CONTACT_EMAIL:
        required: true
      API_VERSION:
        required: true
      SENTRY_IS_ACTIVE:
        required: true
      DOCKERHUB_USERNAME:
        required: true
      GROW_THE_MUSIC_TREE_IMAGE_REPO:
        required: true
      APP_VERSION:
        required: true
      GROW_THE_MUSIC_TREE_PORT:
        required: true
      GROW_THE_MUSIC_TREE_SERVICE_NAME:
        required: true
      CONTAINER_NAME:
        required: true
      DOCKER_COMPOSE_PARTIAL_FILENAME_SUFFIXE:
        required: true

env:
  SSH_DESTINATION: ${{ secrets.SERVER_USERNAME }}@${{ secrets.DOMAIN_NAME }}
  DOCKER_COMPOSE_DIR: ${{ secrets.WEBHOOK_DIR }}${{ secrets.WEBHOOK_REDEPLOYMENT_DIR_NAME }}/${{ secrets.DOCKER_COMPOSE_DIR_NAME }}/
  CONTAINER_ROOT_DIR: /home/app/
  DOCKERIZED_APP_ENV_FILENAME: .env_umg
  BUILD_COMPLETE_FILENAME: build-complete.txt

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Dockerhub
        run: echo "${{ secrets.DOCKERHUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.GROW_THE_MUSIC_TREE_IMAGE_REPO }}:${{ secrets.APP_VERSION }}${{ inputs.docker_tag_suffix }}
          build-args: |
            PROJECT_DIR=${{ env.CONTAINER_ROOT_DIR }}
            APP_PORT=${{ secrets.GROW_THE_MUSIC_TREE_PORT }}
            BUILD_COMPLETE_FILENAME=${{ env.BUILD_COMPLETE_FILENAME }}

  set-env-variables:
    name: Set Environment Variables
    runs-on: ubuntu-latest
    needs: [build-and-push]
    environment:
      name: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.TEST_SERVER_DEPLOY_SSH_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          mkdir -p ~/.ssh &&
          ssh-keyscan -H ${{ secrets.DOMAIN_NAME }} >> ~/.ssh/known_hosts

      - name: Set GTMT environment variables on server
        env:
          ENV_FILE: ${{ env.DOCKER_COMPOSE_DIR }}${{ env.DOCKERIZED_APP_ENV_FILENAME }}
        run: |
          ssh ${{ env.SSH_DESTINATION }} "
            rm -f ${{ env.ENV_FILE }} &&
            echo 'NODE_ENV=${{ inputs.node_env }}' >> $ENV_FILE &&
            echo 'NEXT_PUBLIC_CONTACT_EMAIL=${{ secrets.CONTACT_EMAIL }}' >> ${{ env.ENV_FILE }} &&
            echo 'NEXT_PUBLIC_BACKEND_BASE_URL=https://${{ secrets.DOMAIN_NAME }}/api/${{ secrets.API_VERSION }}/' >> ${{ env.ENV_FILE }} &&
            echo 'NEXT_PUBLIC_SENTRY_IS_ACTIVE=${{ secrets.SENTRY_IS_ACTIVE }}' >> ${{ env.ENV_FILE }}
          "

  set-docker-compose:
    name: Configure Docker Compose
    runs-on: ubuntu-latest
    needs: [build-and-push]
    environment:
      name: ${{ inputs.environment }}
    env:
      DOCKER_COMPOSE_PARTIAL_FILENAME: umg${{ secrets.DOCKER_COMPOSE_PARTIAL_FILENAME_SUFFIXE }}
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.TEST_SERVER_DEPLOY_SSH_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          mkdir -p ~/.ssh &&
          ssh-keyscan -H ${{ secrets.DOMAIN_NAME }} >> ~/.ssh/known_hosts

      - name: Generate partial docker compose file
        env:
          DOCKER_COMPOSE_PARTIAL_FILENAME: ${{ env.DOCKER_COMPOSE_PARTIAL_FILENAME }}
          SERVICE_NAME: ${{ secrets.GROW_THE_MUSIC_TREE_SERVICE_NAME }}
          PROJECT_DIR: ${{ env.CONTAINER_ROOT_DIR }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          IMAGE_REPO: ${{ secrets.GROW_THE_MUSIC_TREE_IMAGE_REPO }}
          APP_VERSION: ${{ secrets.APP_VERSION }}${{ inputs.docker_tag_suffix }}
          CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
          APP_PORT: ${{ secrets.GROW_THE_MUSIC_TREE_PORT }}
          ENV_FILENAME: ${{ env.DOCKERIZED_APP_ENV_FILENAME }}
          BUILD_COMPLETE_FILENAME: ${{ env.BUILD_COMPLETE_FILENAME }}
        run: bash scripts/generate-partial-docker-compose.sh

      - name: Transfer partial docker-compose to server
        env:
          DOCKER_COMPOSE_PARTIAL_FILE: ${{ env.DOCKER_COMPOSE_DIR }}${{ env.DOCKER_COMPOSE_PARTIAL_FILENAME }}
        run: scp scripts/${{ env.DOCKER_COMPOSE_PARTIAL_FILENAME }} ${{ env.SSH_DESTINATION }}:${{ env.DOCKER_COMPOSE_DIR }}

  deploy:
    name: Deploy to ${{ inputs.environment }} Server
    needs: [set-env-variables, set-docker-compose]
    uses: BehindTheMusicTree/bodzify-server-management/.github/workflows/call-redeployment-webhook.yml@main
    with:
      env: ${{ inputs.environment }}
    secrets: inherit
