name: Deploy to PRODUCTION

on:
  push:
    branches:
      - main
  workflow_dispatch: # Allow manual trigger

jobs:
  deploy-prod:
    name: Deploy to PRODUCTION Environment
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: PRODUCTION
      node_env: production
      docker_tag_suffix: "-prod"
    secrets:
      DOCKERHUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      SERVER_SSH_PRIVATE_KEY: ${{ secrets.PROD_SERVER_SSH_PRIVATE_KEY }}
      SERVER_USERNAME: ${{ secrets.PROD_SERVER_USERNAME }}
      DOMAIN_NAME: ${{ vars.PROD_DOMAIN_NAME }}
      WEBHOOK_DIR: ${{ vars.PROD_WEBHOOK_DIR }}
      WEBHOOK_REDEPLOYMENT_DIR_NAME: ${{ vars.WEBHOOK_REDEPLOYMENT_DIR_NAME }}
      DOCKER_COMPOSE_DIR_NAME: ${{ vars.DOCKER_COMPOSE_DIR_NAME }}
      CONTACT_EMAIL: ${{ vars.CONTACT_EMAIL }}
      API_VERSION: ${{ vars.API_VERSION }}
      SENTRY_IS_ACTIVE: ${{ vars.SENTRY_IS_ACTIVE }}
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      GROW_THE_MUSIC_TREE_IMAGE_REPO: ${{ vars.GROW_THE_MUSIC_TREE_IMAGE_REPO }}
      APP_VERSION: ${{ vars.APP_VERSION }}
      GROW_THE_MUSIC_TREE_PORT: ${{ vars.GROW_THE_MUSIC_TREE_PORT }}
      GROW_THE_MUSIC_TREE_SERVICE_NAME: ${{ vars.GROW_THE_MUSIC_TREE_SERVICE_NAME }}
      CONTAINER_NAME: ${{ vars.CONTAINER_NAME }}
      DOCKER_COMPOSE_PARTIAL_FILENAME_SUFFIXE: ${{ vars.DOCKER_COMPOSE_PARTIAL_FILENAME_SUFFIXE }}
