name: Deploy to TEST

on:
  push:
    branches:
      - develop
  workflow_dispatch: # Allow manual trigger

jobs:
  deploy-test:
    name: Deploy to TEST Environment
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      environment: TEST
      node_env: test
      docker_tag_suffix: ""
    secrets:
      DOCKERHUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      TEST_SERVER_DEPLOY_SSH_PRIVATE_KEY: ${{ secrets.TEST_SERVER_SSH_BODZIFY_PRIVATE_KEY }}
      SERVER_USERNAME: ${{ secrets.TEST_SERVER_BODZIFY_USERNAME }}
      DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
      WEBHOOK_DIR: ${{ vars.WEBHOOK_DIR }}
      WEBHOOK_REDEPLOYMENT_DIR_NAME: ${{ vars.WEBHOOK_REDEPLOYMENT_DIR_NAME }}
      DOCKER_COMPOSE_DIR_NAME: ${{ vars.DOCKER_COMPOSE_DIR_NAME }}
      CONTACT_EMAIL: ${{ vars.CONTACT_EMAIL }}
      API_VERSION: ${{ vars.API_VERSION }}
      SENTRY_IS_ACTIVE: ${{ vars.SENTRY_IS_ACTIVE }}
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      GROW_THE_MUSIC_TREE_IMAGE_REPO: ${{ vars.GROW_THE_MUSIC_TREE_IMAGE_REPO }}
      APP_VERSION: ${{ vars.APP_VERSION }}
      GROW_THE_MUSIC_TREE_PORT: ${{ vars.GROW_THE_MUSIC_TREE_PORT }}
      GROW_THE_MUSIC_TREE_SERVICE_NAME: ${{ vars.GROW_THE_MUSIC_TREE_SERVICE_NAME }}
      CONTAINER_NAME: ${{ vars.CONTAINER_NAME }}
      DOCKER_COMPOSE_PARTIAL_FILENAME_SUFFIXE: ${{ vars.DOCKER_COMPOSE_PARTIAL_FILENAME_SUFFIXE }}
      CPANEL_SERVER: ${{ secrets.CPANEL_SERVER }}
      CPANEL_USERNAME: ${{ secrets.CPANEL_USERNAME }}
      CPANEL_API_TOKEN: ${{ secrets.CPANEL_API_TOKEN }}
