name: React

on:
  push:
    branches: 
      - dev
  pull_request:
    branches: [ "dev" ]

jobs:
  Build-And-Push-To-Dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
  
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_UMG_REACT_REPO_NAME }}:${{ secrets.DOCKERHUB_UMG_REACT_REPO_TAG }} .
          --build-arg bodzifyApiUmgUsername='${{ secrets.BODZIFY_API_UMG_USERNAME }}' 
          --build-arg bodzifyApiUmgUserPassword='${{ secrets.BODZIFY_API_UMG_USER_PASSWORD }}' 
  
      - name: Log in to Docker Hub
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_UMG_REACT_SECRET_KEY }}
  
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_UMG_REACT_REPO_NAME }}:${{ secrets.DOCKERHUB_UMG_REACT_REPO_TAG }}